<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="assets/css/user-curd.css">
<script>
	function submit(id, status) {
		
		alert(id);
		var form = document.getElementById('submit');
		form.method = status;
		form.submit();
		
		
        $.ajax({
            type: status,
            data: {id: id},
            url: "/user",
            success: function (data) {
                if (data == "认证成功") {
                    window.location.href = ("/user");
                } else {
                    alert("认证失败");
                }
            },
            error: function (data) {
                alert("认证失败");
            }
        });
	}
	function displayDate(){
		document.getElementById("demo").innerHTML=Date();
	}
</script>
</head>
<body>
	<form id="input" name="input" th:action="@{/user}" method="post">
		<input type="hidden" name="_method" value="put" th:if="${user!=null}"/>
		<input type="hidden" name="id" th:if="${user!=null}" th:value="${user.id}">
		<div class="form">
			<div class="form-item">
				User：
				<input type="text" name="name" th:value="${user!=null}?${user.name}:''">
			</div>
			<div class="form-item">
				Password：
				<input type="password" name="password" th:value="${user!=null}?${user.password}:''">
			</div>
			<div class="form-item">
				Gender：
				<input type="radio" name="gender" value="1" th:checked="${user!=null}?${user.gender==1}:false">Male
				<input type="radio" name="gender" value="0" th:checked="${user!=null}?${user.gender==0}:false">Female
			</div>
			<div class="form-item">
				Email: <input type="text" name="email" th:value="${user!=null}?${user.email}:''">
			</div>
			<div class="form-item">
				Birthday: <input type="text" name="birthday" th:value="${user!=null}?${user.birthday}:''">
			</div>
			<div>
				<input class="custom-btn" type="submit" th:value="${user!=null}?'update':'save'">
				<input class="custom-btn" type="reset" value="reset"><br>
			</div>
		</div>
	</form>
	<table class="table">
		<thead>
			<tr>
				<th class="cell">id</th>
				<th class="cell">name</th>
				<th class="cell">password</th>
				<th class="cell">gender</th>
				<th class="cell">email</th>
				<th class="cell">birthday</th>
				<th class="cell">action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<td th:text="${user.id}">id</td>
				<td th:text="${user.name}">name</td>
				<td th:text="${user.password}">password</td>
				<td th:text="${user.gender}">gender</td>
				<td th:text="${user.email}">email</td>
				<td th:text="${user.birthday}">birthday</td>
				<td class="custom-btns"><a class="custom-btn" th:href="@{/user/}+${user.id}">update</a>
					<form th:action="@{/user/}+${user.id}" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<button class="custom-btn" type="submit">delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>